
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include ../common/header %>
</header>

<section id="content_body">
    <div class="section lightbg onecourse">
        <div class="container">
            <div class="text-center">
                <h2><strong>Get your password</strong></h2>
            </div><!-- end title -->
            <div class="section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div id="message-text"></div>
                            <form>
                                <div class="form-group">
                                    <label for="cname">Email Address:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Please enter your email address to get verification code.">
                                </div>
                                <button type="button" class="btn btn-default" id="submit">Submit</button>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div><!-- end container -->
            </div><!-- end section -->
        </div><!-- end container -->
    </div><!-- end section -->


</section>


<footer id="footer">
    <% include ../common/footer %>
</footer>

</body>
</html>