<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nodeson</title>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>
<% include common/header%>

<section id="content_body">
    <div class="demo-parallax parallax section looking-photo" data-stellar-background-ratio="0.5" style="background-image:url('images/edushala1.jpg');">
        <div class="container">
            <div class="row centermessage text-left">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="tagline"><h4> <span class="element"></span><br></h4></div>
                    <p class="intro-edu">Edushala is an education marketplace where we connect passionate teachers with knowledge-hungry students. Sit in with our experts to create a course that you want to teach.</p>
                    <div class="text-left large-buttons">
                        <a href="learn" class="btn btn-primary btn-lg">VIEW OUR COURSES</a>
                    </div><!-- end title -->
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <div class="section" data-stellar-background-ratio="0.5" style="background-image:url('images/numbers_bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item">
                        <div class="custom_fact_name">
                            <h3 class="stat-count">224</h3>
                            <h6>Happy Employees</h6>
                            <span>Lorem ipsum doler sit amet.</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item">
                        <div class="custom_fact_name">
                            <h3 class="stat-count">664</h3>
                            <h6>Happy Clients</h6>
                            <span>Lorem ipsum dolor sit amet. </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="custom_fact_item">
                        <div class="custom_fact_name">
                            <h3 class="stat-count">154</h3>
                            <h6>Successful Projects</h6>
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="section lb">
        <div class="container">
            <div class="row">
                <div class="widget-title">
                    <h2 class="text-center edu-green"><strong>We are featured on</strong></h2>
                </div><!-- end title -->
            </div>
            <div class="space-top-small"></div>
            <div class="row awards-list">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <a href="https://ventureplus.com.np/wp-content/themes/_tk-1.0/includes/inc/download_issue.php?slug=issue-14" target="_blank">
                            <img src="images/ecs.png" alt="" class="img-responsive">
                        </a>
                    </div><!--widget -->
                </div><!-- end col -->
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <a href="https://www.facebook.com/TNM.Magazine/photos/a.573076362775123.1073741838.379744022108359/573076859441740/?type=3&theater" target="_blank">
                            <img src="images/tnm.png" alt="" class="img-responsive">
                        </a>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <a href="https://glocalkhabar.com/featured/beginners-guide-successful-startup-feature-story/" target="_blank">
                            <img src="images/glocal.png" alt="" class="img-responsive">
                        </a>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <a href="http://admin.myrepublica.com/portal/index.php/ads/ncell.swf?action=news_details&news_id=67601" target="_blank">
                            <img src="images/republica.png" alt="" class="img-responsive">
                        </a>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <a href="http://www.huffingtonpost.com/niranjan-kunwar/edushala_b_4541063.html" target="_blank">
                            <img src="images/huffing.png" alt="" class="img-responsive">
                        </a>
                    </div><!--widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="widget clearfix">
                        <a href="http://epaper-archive.ekantipur.com/kathmandupost/showtext.aspx?boxid=142451921&parentid=19406&issuedate=1872014" target="_blank">
                            <img src="images/ktm_post.png" alt="" class="img-responsive">
                        </a>
                    </div><!--widget -->
                </div><!-- end col -->

            </div>
        </div><!-- end container -->
    </div><!-- end section -->
</section>

<% include common/footer%>
</body>
</html>