
<html>
<head>
    <% include common/head %>
    <!--additional JS and css-->
</head>
<body>

<section id="content_body">
    <div class="space-box">
        <div class="container-fluid">
            <form class="defaultform row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="register-widget clearfix">
                        <div class="space-top-small"></div>
                        <div class="widget-title">
                            <h2>Sign in Account</h2>
                            <hr>
                            <div id="msg"></div>
                        </div><!-- end title -->
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Username or Email</label>
                                <input type="text" id="username" class="form-control" value="thebinod7@gmail.com">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Password</label>
                                <input type="password" id="password" class="form-control" value="aaaaa">
                            </div>
                            <div class="col-sm-6">
                                <a href="" data-toggle="modal" data-target="#pwdModal">Forgot Password</a>
                            </div>
                            <div class="col-sm-12">
                                <button type="button" id="btnLogin" class="btn btn-default">Login</button>
                                <hr />
                                <p>Don't have an accout yet? <a href="/">Signup Here</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </form><!-- end row -->
        </div><!-- end container -->
    </div>

</section>

<div class="modal fade" id="pwdModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-key"></i> Recover Password
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div id="email_message"></div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                for="input_forgot_Email">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="input_recovery_email" placeholder="Email"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnRecoverPwd"  class="btn btn-default"><i class="fa fa-lightbulb-o"></i> Send </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <a href="login" data-dismiss="modal">
                    Go to login
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>