<footer class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo-footer"><img id="logo-footer" src="/images/logo.png" alt=""></div>
                <ul class="check">
                    <li><i class="fa fa-map-marker"></i><a> Kalanki, Kathmandu</a></li>
                    <li><i class="fa fa-phone"></i><a> 01 55 44 78</a></li>
                    <li><i class="fa fa-envelope-o"></i> <a>thebinod7@gmail.com</a> </li>
                </ul>
                <!-- end check -->
            </div>
            <!-- end col -->

            <div class="col-md-4 col-sm-12">
                <ul class="check">
                    <li><a href="http://www.twitter.com/edushala" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="http://www.facebook.com/edushala" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="http://www.youtube.com/user/edushala" target="_blank"><i class="fa fa-youtube"></i> Youtube</a></li>
                    <li><a href="http://www.instagram.com/edushala" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
                </ul>
                <!-- end check -->
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="newsletter">
                    <p>Your email is safe with us and we hate spam as much as you do.</p>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email_address" placeholder="Enter your email here..">
                        </div>
                        <button type="button" id="btnSubscribe" class="btn btn-primary">Subscribe</button>
                        <p id="response"></p>
                    </form>
                </div>
            </div>
            <!-- end col -->
        </div>

        <!-- end row -->

        <hr>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="copylinks">
                    <p>Copyrights &copy; 2017 <a href="#" target="_blank">Binod Chaudhary</a> All Rights Reserved.</p>
                </div>
                <!-- end links -->
            </div>
            <!-- end col -->

            <div class="col-md-6 col-sm-12">
                <div class="footer-social text-right">
                    <a class="dmtop" href="#"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end copyrights -->